<li id="<%= prediction.id %>">
  <span class="content"><%= prediction.body %></span>
  <span class="date">
    exp <%= distance_of_time_in_words(Time.now, prediction.expires_at) %> |
  </span>
  <span class="date">
    made <%= time_ago_in_words(prediction.created_at) %> ago |
  </span>
  <span class="date">
    <%= prediction.voters.any? ? prediction.voters.count : 0 %>
  </span>
  <span class="taglist">Tags: <%= raw prediction.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
</li>
