<strong>Daily report <%= DateTime.now.to_date %></strong><br/>

<p>Number or new users - <%= @users.count %></p>
<table style="border-collapse: collapse">
	<thead>
		<tr>
			<th style="border: 1px solid black">User ID</th>
			<th style="border: 1px solid black">EMail</th>
			<th style="border: 1px solid black">Username</th>
			<th style="border: 1px solid black">Created At</th>
		</tr>
	</thead>
	<tbody>
<% @users.each do |u| %>
		<tr>
			<td style="border: 1px solid black"><%= u.id %></td>
			<td style="border: 1px solid black"><%= u.email %></td>
			<td style="border: 1px solid black"><%= u.username %></td>
			<td style="border: 1px solid black"><%= u.created_at %></td>
		</tr>
<% end %>
	</tbody>
</table>

<p>Number of new predictions - <%= @predictions.count %></p>

<p>Number of agrees and disagrees for each prediction</p>
<table style="border-collapse: collapse">
	<thead>
		<tr>
			<th style="border: 1px solid black">ID</th>
			<th style="border: 1px solid black">Username</th>
			<th style="border: 1px solid black">Body</th>
			<th style="border: 1px solid black">Created At</th>
			<th style="border: 1px solid black">Agree</th>
			<th style="border: 1px solid black">Disagree</th>
		</tr>
	</thead>
	<tbody>
<% @predictions.each do |p| %>
		<tr>
			<td style="border: 1px solid black"><%= p.id %></td>
			<td style="border: 1px solid black"><%= p.user.username %></td>
			<td style="border: 1px solid black"><%= p.body[0..50] %></td>
			<td style="border: 1px solid black"><%= p.created_at %></td>
			<td style="border: 1px solid black"><%= p.challenges.agreed_by_users.last_day.count %></td>
			<td style="border: 1px solid black"><%= p.challenges.disagreed_by_users.last_day.count %></td>
		</tr>
<% end %>
	</tbody>
</table>


