<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>Points</th>
      <th>Predictions count</th>
      <th>Created at</th>
      <th>Last signed at</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.username %></td>
        <td><%= @user.email %><br>Edit email</td>
        <td><%= @user.points %></td>
        <td><%= @user.predictions.count %></td>
        <td><%= @user.created_at %></td>
        <td><%= @user.last_sign_in_at %></td>
      </tr>
  </tbody>
</table>

<br/>

<%= link_to 'Delete user', [:admin, @user], method: :delete, data: { confirm: 'Are you sure?' } %>